.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: gray;
  border: 1px solid #f9f9f9;
}

.header > img {
  object-fit: contain;
  height: 50px;
}
